.container {
  text-align: left;
  color: white;
  border: 1px solid grey;
  border-radius: 20px;

  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
b {
  color: black;
}

h1,
h2 {
  text-align: center;
  font-family: "KoHo", sans-serif;
}
h4 {
  text-transform: capitalize;
  font-weight: bold;
}
h5 {
  text-transform: capitalize;
}
p {
  color: white;
  text-align: justify;
}
footer {
  font-family: "KoHo", sans-serif;
  font-weight: bold;
}
.mina {
  text-decoration: none;
  color: black;
}
.mina:hover {
  color: white;
  text-decoration: underline;
}

.Synonyms {
  display: flex;
  padding-inline-start: 0;
  list-style: none;
}
.lista ~ .lista::before {
  content: ", ";
}
