.container {
  text-align: left;
  color: black;
  border: 1px solid grey;
  width: 600px;
}
h1,
h2 {
  text-align: center;
}
h4 {
  text-transform: capitalize;
  font-weight: bold;
}
h5 {
  text-transform: capitalize;
}
p {
  color: black;
  text-align: justify;
}
