.container {
  text-align: left;
  color: white;
  border: 1px solid grey;
  border-radius: 20px;

  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
b {
  color: #4f7b9f;
}

h1,
h2 {
  text-align: center;
  font-family: "KoHo", sans-serif;
}
h4 {
  text-transform: capitalize;
}
h5 {
  text-transform: capitalize;
}
p {
  color: white;
  text-align: justify;
}
footer {
  font-family: "KoHo", sans-serif;
  font-weight: bold;
}
footer {
  margin: 0 0 0 120px;
}
.mina {
  text-decoration: none;
  color: black;
}
.mina:hover {
  color: #4f7b9f;
  text-decoration: none;
}

img {
  margin: 10px auto;
  border-radius: 10px;
}
.altoparlante {
  font-size: 20px;
  text-decoration: none;
}
